
@{
    ViewBag.Title = "DangNhap";
    //Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<form style="margin-top: 100px; margin-bottom: 300px;" action="/Test/DangNhap/" method="post">
    Tên đăng nhập:<br>
    <input type="text" name="DN">
    <br>
    Mật khẩu:<br>
    <input type="password" name="MK">
    <br />
    <br />
    <input type="submit" />
</form>

<div style="margin-top: 100px; margin-bottom: 300px;">
    <a href="https://www.google.com">Google</a>

    <a style="height: 30px; width: 30px;">
        <img src="~/Content/images/404/404.png" />
    </a>
    <a style="height: 30px; width: 30px;">
        <img src="../Content/images/404/404.png" />
    </a>

</div>

